@import url(../assets/font-awesome-icon/all.min.css);

@import url(./reset.css);

@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  background-color: #e9cbc8;
  font-family: Roboto, sans-serif;
}
.main-header__title {
  margin: 30px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 65px;
  text-transform: uppercase;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.main-header__filter {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 10px 70px;
  font-size: 16px;
  width: 25%;
  margin-left: 37%;
  margin-bottom: 15px;
}
.course__button {
  border: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #ff6651 !important;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 25px;
}
.popup {
  z-index: 3;
/*   display: none; */
  padding-top: 180px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.popup__content {
  margin: auto;
  background-color: #ffeddb;
  position: relative;
  padding: 0;
  outline: 0;
  width: 850px;
}
.course__container {
  padding: 2px 16px;
  margin-left: 10px;
}
.course__title--table {
  text-align: center;
  font-size: 24px;
  margin-top: 25px;
  font-weight: 600;
}
.course__button.course__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  border-radius: 0px;
}
.form__post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 30px;
}
.form__post input {
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  font-size: 16px;
}
.form__post--create {
  background-color: #ff6651;
  color: white;
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
}
.form__post--cancel {
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  background-color: #ede3e3de;
}
.course__list {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  display: grid;
}
.course__image {
  height: 300px;
  position: relative;
}
.course-edit {
  cursor: pointer;
  background-color: #808080;
  border: none;
  outline: none;
  padding: 6px 8px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.course__remove {
  cursor: pointer;
  color: #fff;
  background-color: #ff6651;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 10px;
}
.course__remove i {
  pointer-events: none;
  font-size: 18px;
}
.course__image-btn {
  height: 300px;
  position: relative;
}
.course__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.course__title {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.25;
  font-size: 22px;
  font-weight: 600;
}
.course__author {
  font-size: 16px;
  color: #999;
  font-weight: 300;
  margin-bottom: 15px;
}
.course__rating {
  color: #ffa500;
  font-weight: 600;
  font-size: 20px;
}
.course__price {
  color: #000;
  margin-top: 60px;
  font-size: 22px;
  position: absolute;
  font-weight: 500;

}
.course__enroll {
  color: #999;
    font-size: 16px;
    font-weight: 300;
}
.course__best-seller {
  color: #fff;
    background-color: #ffe162;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 25px;
    padding: 10px 15px;
    display: inline-block;
}
.course__meta {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 0 10px;
  font-size: 20px;
}
.course__remove {
  cursor: pointer;
  color: #fff;
  background-color: #ff6651;
  border: none;
  border-radius: 50%;
  outline: none;
  padding: 8px 10px;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 10px;
}
.course__remove i {
  pointer-events: none;
  font-size: 18px;
}
.modal__container--title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
.modal__container--confirm {
  margin: 15px 0px;
  font-size: 18px;
}

/* Float cancel and delete buttons and add an equal width */
.cancel__btn,
.delete__btn {
  float: left;
  width: 50%;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
}

/* Add a color to the cancel button */
.cancel__btn {
  background-color: #ede3e3de;
  color: black;
}

/* Add a color to the delete button */
.delete__btn {
  background-color: #ff6651 !important;
}

/* Add padding and center-align text to the container */
.modal__container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal__delete {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #0006;
  padding-top: 180px;
}
/* Modal Content/Box */
.modal__content {
  background-color: #ffeddb;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clear__fix::after {
  content: "";
  clear: both;
  display: table;
}

/* edit */
.course__edit {
  cursor: pointer;
  background-color: gray;
  border: none;
  outline: none;
  padding: 6px 8px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 239, 239, 0.573);
  pointer-events: none;
}
